# Dependency directories
node_modules/
yarn.lock
package-lock.json
# TypeScript output directories
dist/
*.js
*.js.map
# IDE and editor files
.vscode/
.idea/
*.iml
*.ipr
*.iws
*.log
*.orig
*.swp
*.swo
*.DS_Store 

.env

